{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Andrew Personal Website</title>
</head>
<body>
    <div class="homepage-container">
        <div class="homepage-container-left">
            <div class="homepage-container-inner">
                <img src="{% static 'logo.png' %}" alt="logo" class="logo-andrew">
                <h1 class="jumbo-text"><span class="typed-text">Hello !</span></h1>
                <h2 class="my-name-text">My Name is Andrew</h2>
                <div data-aos="fade-right" data-aos-duration="2000">
                    <h3 class="sub-text">I would love to :</h3>
                    <ul>
                        <li>Try new things</li>
                        <li>Do experiment and research with social society</li>
                        <li>Observing everything</li>
                        <li>Write lines of code</li>
                        <li>Make some mini-business</li>
                    </ul>
                </div> 
                <div class="social-media-section">
                    <a href="https://gitlab.com/andrewsusanto"><img src="{% static 'gitlab.jpg' %}" alt="gitlab-logo" class="social-media-logo"></a>
                    <a href="https://instagram.com/andrew_susanto/"><img src="{% static 'instagram.png' %}" alt="instagram-logo" class="social-media-logo"></a>
                    <a href="https://www.linkedin.com/in/andrew-68a706193/"><img src="{% static 'linkedin.png' %}" alt="linkedin-logo" class="social-media-logo"></a>
                </div>
                <h6>This webiste built over django, if you want to how it's built feel free to open <a href="https://gitlab.com/andrewsusanto/lab-ppw">this websiite repository</a></h6>
            </div>
        </div>
        <div class="homepage-container-right">
            <div class="homepage-container-inner" data-aos="fade-left" data-aos-duration="2000">
                <h2 class="link-title">These link will lead you to my PPW lab project :</h2>
                <div class="button-section">
                    <a class="button-link-a" href="lab1"><button type="button" class="link-button">Lab 1</button></a>
                    <a class="button-link-a" href="lab2"><button type="button" class="link-button">Lab 2</button></a>
                    <a class="button-link-a" href="lab2/challenge"><button type="button" class="link-button">Lab 2 Challenge</button></a>
                    <a class="button-link-a" href="lab3"><button type="button" class="link-button">Lab 3</button></a>                    
                    <a class="button-link-a" href="https://story4ppw-andrew.herokuapp.com/" ><button type="button" class="link-button">Lab 4</button></a>
                    <a class="button-link-a link-disabled" ><button type="button" class="link-button">Lab 5</button></a>
                    <a class="button-link-a link-disabled"><button type="button" class="link-button">Lab 6</button></a>
                    <a class="button-link-a link-disabled" ><button type="button" class="link-button">Lab 7</button></a>
                    <a class="button-link-a link-disabled" ><button type="button" class="link-button">Lab 8</button></a>
                    <a class="button-link-a link-disabled" ><button type="button" class="link-button">Lab 9</button></a>
                    <a class="button-link-a link-disabled" ><button type="button" class="link-button">Lab 10</button></a>
                </div>
            </div>
        </div>
    </div>
    <script>
    AOS.init();
    
    var options = {
    strings: ['Hello !', 'Hello !', 'Hola !','Hej !', 'Bonjour !', 'Guten Tag !', 'Nǐhǎo !', 'Konnichiwa !', 'Halo !', 'Hello !'],
    typeSpeed: 120,
    backDelay: 1500,
    };

    var typed = new Typed('.typed-text', options);

    </script>
</body>
</html>