{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'style-lab1.css' %}" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Andrew</title>
</head>
<body>
    <div class="container">
        <div class="section-1 section" >
            <div class="left-section">
                <img src="{% static 'profile.jpg' %}" alt="profile-image" class="profile-image">
            </div>
            <div class="right-section">
                <div data-aos="fade-left" data-aos-duration="1000">
                    <h1 class="jumbo-text">Andrew</h1>
                    <h2 class="biodata">NPM : 190350692</h2>
                    <h2 class="biodata">Angkatan : 2019</h2>
                    <h2 class="biodata">Hobi : Mencoba hal baru</h2>
                    <div class='icon-scroll'></div>
                </div>
            </div>
        </div>
       
        <div class="section-2 section">
            <div class="left-section">
                <h1 class="jumbo-text">Deskripsi</h1>
            </div>
            <div class="right-section">
                <div data-aos="fade-left" data-aos-duration="1000">
                    <p class="description">Saya adalah mahasiswa Fasilkom UI angkatan 2019 yang sedang belajar banyak tentang teknologi, dan ilmu komputer.</p>
                    <div>
                        <img src="{% static 'school.png' %}" alt="university" class="mini-icon">
                        <img src="{% static 'computer.png' %}" alt="computer" class="mini-icon">
                    </div>
                    <p class="description">Bidang yang saya minati saat ini adalah web development, dan network system</p>
                    <div>    
                        <img src="{% static 'global.png' %}" alt="web" class="mini-icon">
                        <img src="{% static 'system.png' %}" alt="network" class="mini-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="section-3 section">
            <div class="left-section">
                <h1 class="jumbo-text">Riwayat Pendidikan</h1>
            </div>
            <div class="right-section">
                <div data-aos="fade-left" data-aos-duration="1000">
                    <h3><span >TK (2005-2007)</span> <br> <ul><li>TK. Surya Pemandu</li></ul></h3>
                    <h3><span >SD (2007-2013)</span> <br> <ul><li>SDS. Surya Pemandu</li></ul></h3>
                    <h3><span>SMP (2013-2016)</span> <br> <ul><li>SMP. St. Kristoforus I</li></ul></h3>
                    <h3><span >SMA (2016-2019)</span> <br> <ul><li>SMAK 1 PENABUR Jakarta</li></ul></h3>
                    <h3><span >Perguruan Tinggi (2019-Sekarang)</span> <br> <ul><li>Universitas Indonesia</li></ul></h3>
                </div>
            </div>
        </div>
        <div class="section-4 section">
            <div class="left-section small-section">
                <h1 class="jumbo-text">Social <br>Media</h1>
            </div>
            <div class="right-section small-section" >
                <div data-aos="fade-left" data-aos-duration="1000">
                    <div class="social-media-section">
                        <a href="https://instagram.com/andrew_susanto/"><img src="{% static 'instagram.png' %}" alt="instagram-logo" class="social-media-logo"></a>
                        <a href="https://www.linkedin.com/in/andrew-68a706193/"><img src="{% static 'linkedin.png' %}" alt="linkedin-logo" class="social-media-logo"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-5 section">
            <div class="left-section small-section">
                <h1 class="jumbo-text">Credits</h1>
            </div>
            <div class="right-section small-section"  >
                <div data-aos="fade-left" data-aos-duration="1000">
                    <p>Some icon made by Pixel perfect from www.flaticon.com</p>
                    <p>Some icon made by Freepik perfect from www.flaticon.com</p>
                    <p>Some icon made by Eucalyp from www.flaticon.com</p>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        AOS.init();
        </script>
</body>
</html>