{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'lab3/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/eaf9aadde9.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Andrew Homepage</title>
  </head>
  <body>
   

    <div class="custom-navbar">
      <div class="container navbar-inner">
        <div class="navbar-logo">
          <a href="../"><img src="{%static 'lab3/logo.png'%}" class="navbar-logo" alt="logo"></a>
        </div>
        <div class="menu-section">
          <a href="../#home" class="menu-item">home</a>
          <a href="../#portofolio" class="menu-item">portofolio</a>
          <a href="../#skill" class="menu-item">skill</a>
          <a href="../#contact" class="menu-item">contact</a>
          <a href="#" class="menu-item" data-toggle="modal" data-target="#exampleModal">Gallery</a>
          <a href="../minigame" class="menu-item">MiniGame</a>
        </div>
        <div class="mobile-menu-section">
          <div class="menu-button">
            <button type="button" id="navbarTrigger"><i class="fas fa-bars"></i></button>
          </div>
          <div class="menu-list" id="mobileMenu">
            <a href="../#home" class="menu-item">home</a>
            <a href="../#portofolio" class="menu-item">portofolio</a>
            <a href="../#skill" class="menu-item">skill</a>
            <a href="../#contact" class="menu-item">contact</a>
            <a href="#" class="menu-item" data-toggle="modal" data-target="#exampleModal">Gallery</a>
            <a href="../minigame" class="menu-item">MiniGame</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-row mt-6">
        <img id="questionImage" src="{% static 'lab3/minigame1.jpg' %}" class="minigame-question">
        <div class="minigame-answer-section">
            <input type="text" id="answer" class="form-control" placeholder="Input Answer">
            <input id="enterAnswer" type="submit" class="btn btn-primary mt-2" value="Submit Answer">
            <div class="mt-6">
                <div class="minigame-status"><span id="status"></span></div>
                <div class="minigame-score"><i class="fas fa-star"></i>Score : <span id="score"></span></div>
                <div class="minigame-lives"><i class="fas fa-heart"></i>Live : <span id="live"></span></div>
            </div>
        </div>
    </div>

     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Gallery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'lab3/gallery (1).jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'lab3/gallery (2).jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'lab3/gallery (3).jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'lab3/gallery (4).jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'lab3/gallery (5).jpg' %}" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Optional JavaScript -->
    <script>
      AOS.init();
      
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
              e.preventDefault();

              document.querySelector(this.getAttribute('href')).scrollIntoView({
                  behavior: 'smooth'
              });
          });
      });

      document.getElementById('navbarTrigger').addEventListener('click',function(){
        document.getElementById('mobileMenu').classList.toggle('show');
        });
        

      var imagesrc = ["{% static 'lab3/minigame1.jpg' %}","{% static 'lab3/minigame2.jpg' %}","{% static 'lab3/minigame3.jpg' %}","{% static 'lab3/minigame4.jpg' %}","{% static 'lab3/minigame5.jpg' %}"];
      var ans = ['3','39','14','4','43215'];
      var index = 0;
      var score = 0;
      var live = 3;
      var a = document.getElementById('enterAnswer');
      var b = document.getElementById('answer');
      var c = document.getElementById('score');
      var d = document.getElementById('live');
      var e = document.getElementById('questionImage');
      var f = document.getElementById('status');
      c.innerHTML = score;
      d.innerHTML = live;

      a.addEventListener('click',function(){

        if(ans[index]==b.value){
          score +=10;
          f.innerHTML = 'CORRECT ANSWER'
          f.style.color = 'green';
        }else{
          live-=1;
          f.innerHTML = 'WRONG ANSWER';
          f.style.color = 'red';
        }

        b.value ='';

        c.innerHTML = score;
        d.innerHTML = live;

        index++;
        e.src = imagesrc[index];

        if(index==5){
          e.src = '';
          d.innerHTML = 'Completed';
          a.style.display = 'none';
          b.style.display = 'none';
        }

        if(live == 0){
          e.src = '';
          d.innerHTML = 'GAME OVER';
          a.style.display = 'none';
          b.style.display = 'none';
        }

      })


    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>