{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lab3/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/eaf9aadde9.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Andrew Homepage</title>
  </head>
  <body>
    <div class="container section">
      <h1 class="main-hero-text" data-aos="fade-right">hi there!</h1>
      <h1 class="main-subhero-text" data-aos="fade-right">welcome to my website</h1>
      <h1 class="typo-decor" data-aos="fade-left">ANDREW</h1>
      <a href="#home" data-aos="fade-right"><button type="button" class="main-button">enter journey</button></a>
    </div>

    <div class="custom-navbar">
      <div class="container navbar-inner">
        <div class="navbar-logo">
          <a href="lab3"><img src="{% static 'lab3/logo.png' %}" class="navbar-logo" alt="logo"></a>
        </div>
        <div class="menu-section">
          <a href="#home" class="menu-item">home</a>
          <a href="#portofolio" class="menu-item">portofolio</a>
          <a href="#skill" class="menu-item">skill</a>
          <a href="#contact" class="menu-item">contact</a>
          <a href="#" class="menu-item" data-toggle="modal" data-target="#exampleModal">Gallery</a>
          <a href="minigame" class="menu-item">MiniGame</a>
        </div>
        <div class="mobile-menu-section">
          <div class="menu-button">
            <button type="button" id="navbarTrigger"><i class="fas fa-bars"></i></button>
          </div>
          <div class="menu-list" id="mobileMenu">
            <a href="#home" class="menu-item">home</a>
            <a href="#portofolio" class="menu-item">portofolio</a>
            <a href="#skill" class="menu-item">skill</a>
            <a href="#contact" class="menu-item">contact</a>
            <a href="#" class="menu-item" data-toggle="modal" data-target="#exampleModal">Gallery</a>
            <a href="minigame.html" class="menu-item">MiniGame</a>
          </div>
        </div>
      </div>
    </div>

    <div id="home" class="container section section-row">
      <div class="section-col">
        <h1 class="main-hero-text" data-aos="fade-right">My name is</h1>
        <h1 class="main-hero-text no-margin color-blue" data-aos="fade-right">Andrew</h1>
        <h3 class="sub-text" data-aos="fade-right">i'm a student <br>and learn code much</h3>
      </div>
      <div class="section-col chat-section">
        <div class="chat-box" data-aos="fade-left">hi!, how are you ?</div>
        <div class="chat-box" data-aos="fade-left">hope you enjoy this website</div>
        <div class="chat-box" data-aos="fade-left">you can enter your thoughts here <br>(press enter to submit)</div>
        <div class="chat-box chat-box-left" data-aos="fade-left"><input id="thoughts" type="text" placeholder="..." class="thoughts-input"></div>
      </div>
    </div>

    <div class="container section mt-8">
      <div class="header color-blue">educational<br><span class="sub-header">background</span></div>
      <img src="{% static 'lab3/edu-background.svg' %}" class="edu-background desktop" data-aos="fade-up">
      <img src="{% static 'lab3/edu-background-mobile.svg' %}" class="edu-background mobile" data-aos="fade-up">
    </div>

    <div id="portofolio" class="container section mt-8">
      <div class="header color-blue">things i've done</div>
      <div class="section-row porto-item">
        <div class="porto-year" data-aos="fade-right">2020</div>
        <div class="porto-image" data-aos="fade-left">
          <img src="{% static 'lab3/jadwalkelas 1.png' %}" class="porto-image-src" >
          <div class="porto-desc">Jadwal Kelas Hari Ini <br> https://jadwalkelas.andrewsusanto.id</div>
        </div>
      </div>
      <div class="section-row porto-item">
        <div class="porto-year" data-aos="fade-right">2019</div>
        <div class="porto-image" data-aos="fade-left">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row porto-image-small-row">
              <div class="porto-item-image"  >
                <img src="{% static 'lab3/maung 1.png' %}" class="porto-image-src-small">
                <div class="porto-desc">UI Design Maung Website <br> https://maung.id</div>
              </div>
              <div class="porto-item-image">
                <img src="{% static 'lab3/maungajar 1.png' %}" class="porto-image-src-small">
                <div class="porto-desc">MaungAjar <br> https://akademis.maung.id</div>
              </div>
            </div>
            <div class="porto-item-image">
              <img src="{% static 'lab3/ds 1.png' %}" class="porto-image-src-small">
              <div class="porto-desc">Digital Signage System </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-row porto-item">
        <div class="porto-year" data-aos="fade-right">2018</div>
        <div class="porto-image"  data-aos="fade-left"> 
          <img src="{% static 'lab3/Screenshot_2020-02-07 TixEvent 1.png' %}" class="porto-image-src">
          <div class="porto-desc">Online Selling Ticketing System <br> https://tixevent.id</div>
        </div>
      </div>
    </div>

      <div class="container section mt-8 section-fit">
        <div class="header color-blue">experience</div>
        <div class="d-flex flex-row experience-list">
          <div data-aos="fade-right">
            <ul>
              <li>SMAK 1 PENABUR Jakarta Student Council</li>
              <li>SMAKONECUP 2016 Staf</li>
              <li>ShutterOne Staf | 2016-2018</li>
              <li>PERAK Staf | 2020</li>
              <li>DSC UI Core Team | 2019-2020</li>
            </ul>
          </div>
          <div class="d-flex flex-row flex-wrap experience-image-wrap" data-aos="fade-left">
              <img src="{% static 'lab3/perak 1.png' %}" class="experience-image">
              <img src="{% static 'lab3/logo_web_black 1.png' %}" class="experience-image">
              <img src="{% static 'lab3/image 4.png' %}" class="experience-image">
          </div>
        </div>
      </div>

      <div id="skill" class="container section mt-6">
        <div class="d-flex flex-row experience-list skills-list">
          <div class="d-flex flex-row flex-wrap skill-image-wrap"  data-aos="fade-right">
              <img src="{% static 'lab3/index 1.png' %}" class="skill-image">
              <img src="{% static 'lab3/opengraph-icon-200x200 1.png' %}" class="skill-image">
              <img src="{% static 'lab3/CSS3_and_HTML5_logos_and_wordmarks 1.png' %}" class="skill-image">
              <img src="{% static 'lab3/django-logo-negative 1.png' %}" class="skill-image">
              <img src="{% static 'lab3/711px-PHP-logo 1.png' %}" class="skill-image">
              <img src="{% static 'lab3/460px-Flask_logo 1.png' %}" class="skill-image">
              <img src="{% static 'lab3/jquery-logo-vector-download 1.png' %}" class="skill-image">
          </div>
          <div>
            <div class="header color-blue">skills</div>
            <ul class="mt-4"  data-aos="fade-left">
              <li>Python</li>
              <li>php</li>
              <li>HTML + CSS</li>
              <li>Javascript + JQuery</li>
              <li>Django + Flask</li>
              <li>React JS</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container section mt-8">
        <div class="header color-blue">personal project<br></div>
        <div class="section-row mt-4" data-aos="fade-right">
          <div>
            <h4><b>SIAK NG Scrapper</b></h4>
            <p>- Scrapping IRS and Schedule</p>
            <h4><b>Personal Website</b></h4>
            <p>- Still On Progress</p>
            <h4><b>TixEvent.id Web Barcode Scanner</b></h4>
            <p>- Scan barcode pada tiket</p>
          </div>
          <div class="project-progress" data-aos="fade-left">
            <h2 class="color-blue">project progress</h2>
            <h5><b>SIAK NG Scrapper</b></h5>
            <div class="progress-wrapper">
              <div class="siak-progress"></div>
            </div>
            <h5><b>Personal Website</b></h5>
            <div class="progress-wrapper">
              <div class="personal-website-progress"></div>
            </div>
            <h5><b>TixEvent.id Web Scanner</b></h5>
            <div class="progress-wrapper">
              <div class="tixevent-progress"></div>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div id="contact" class="container section mt-8">
        <div class="header color-blue">.contact</div>
        <div class="contact-section">
          <a href="https://www.linkedin.com/in/andrew-68a706193/"><img src="{% static 'lab3/image 1.png' %}" class="edu-background"></a>
          <a href="https://instagram.com/andrew_susanto/"><img src="{% static 'lab3/image 2.png' %}" class="edu-background"></a>
          <a href="https://gitlab.com/andrewsusanto/"><img src="{% static 'lab3/image 3.png' %}" class="edu-background"></a>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Gallery</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                  
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'lab3/gallery (1).jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'lab3/gallery (2).jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'lab3/gallery (3).jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'lab3/gallery (4).jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'lab3/gallery (5).jpg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    
    <!-- Optional JavaScript -->
    <script>
      AOS.init();

      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
              e.preventDefault();

              document.querySelector(this.getAttribute('href')).scrollIntoView({
                  behavior: 'smooth'
              });
          });
      });

      document.getElementById('navbarTrigger').addEventListener('click',function(){
        document.getElementById('mobileMenu').classList.toggle('show');
        });


      

  document.getElementById('thoughts').onkeypress = function(e){
    if (!e) e = window.event;
    var keyCode = e.keyCode || e.which;
    if (keyCode == '13'){
      sendAjax();
      return false;
    }
  }

  function sendAjax() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", "", true);
  xhttp.send();
}
    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>