@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,700&display=swap');

.logo-andrew{
    width:12vw;
}
html,body{
    margin:0;
}
html, body, h1, h2, h3, h4, h5, p{
    font-family: 'Raleway', sans-serif;
}
.homepage-container{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: row;
    overflow:hidden;
}
.homepage-container-left{
    width:45vw;
    height:100vh;
    display:flex;
    flex-direction: column;
}
.homepage-container-right{
    width:55vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    background-color:black;
    color:white!important;
}
.homepage-container-inner{
    padding:75px;
    padding-bottom:10px;
}
.jumbo-text{
    font-size:60px;
    margin-top:40px;
    margin-bottom:10px;
}
.my-name-text{
    font-size:30px;
    margin-top:10px;
}
.social-media-logo{
    width:20px;
    margin:5px;
}
.social-media-section{
    margin-top:60px;
}
.link-button{
    font-size:20px;
    background-color:black;
    color:white;
    font-weight:550;
    padding:5px;
    padding-left:50px;
    padding-right:50px;
    border-style:solid;
    border-color:white;
    border-width:0.5px;
    transition: 0.3s;
    width:230px;
}
.link-button:hover{
    background-color:white;
    color:black;
    cursor: pointer;
}
.button-section{
    display:flex;
    flex-direction: column;
    height:350px;
    flex-wrap: wrap;
}
.button-link-a{
    margin-left:15px;
    margin-right:15px;
    margin-top:10px;
    margin-bottom:10px;
}
.link-title{
    margin-top:70px;
}
.link-disabled .link-button{
    opacity:18%;
}
.link-disabled .link-button:hover{
    background-color:lightgray;
    color:white;
    cursor: default;
}

@media only screen and (max-width:500px){
    .homepage-container{
        flex-direction: column;
        height:max-content
    }
    .homepage-container-left{
        width:100vw;
        height:max-content;
    }
    .homepage-container-right{
        width:100vw;
        height:max-content;
    }
    .logo-andrew{
        width:25vw;
    }
    .homepage-container-inner{
        padding:35px;
        padding-bottom:10px;
    }
    .link-button{
        width:36vw;
        padding-left:5px;
        padding-right:5px;
    }
    .button-link-a{
        margin-left:5px;
        margin-right:5px;
    }
}