@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,700&display=swap');

.logo-andrew{
    width:12vw;
}
html,body{
    margin:0;
}
html, body, h1, h2, h3, h4, h5, p{
    font-family: 'Raleway', sans-serif;
}

.profile-image{
    width:20vw;
    border-radius:200px;
}
.container{
    padding:50px;
}
.section{
    width:100%;
    display:flex;
    flex-direction: row;
    height:max-content;
}
.left-section{
    width:30%;
    min-height:90vh;
    padding-top:35px;
}
.right-section{
    width:65%;
    display:flex;
    flex-direction: column;
    padding:30px;
    padding-top:35px;
    border-left-width: 1px;
    border-left-color:gray;
    border-left-style: solid;
    min-height:90vh;
}
.small-section{
    min-height:50vh!important;
    height:max-content;
}
.biodata{
    margin-top:5px;
    margin-bottom:5px;
}
.jumbo-text{
    font-size:60px;
    margin-top:10px;
    margin-bottom:25px;
}

.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}

.icon-scroll{
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 84vh;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px black;
  border-radius: 25px;
}

.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: black;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll{
  0%{
    opacity: 1
  }
  100%{
    opacity: 0;
    transform: translateY(46px)
  }
}
.description{
    font-size:18px;
}
.mini-icon{
    width:50px;
    display: inline;
    margin:10px;
}
.social-media-logo{
    width:60px;
    margin:25px;
}
@media only screen and (max-width:500px){
    .section{
        flex-direction: column;
    }
    .left-section{
        min-height:0px;
        width:100%;
    }
    .right-section{
        border-left-width: 0px;
        min-height:0px;
        width:100%;
    }
    .profile-image{
        width:50vw;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
    .icon-scroll{
        top:50vh;
    }
    .small-section{
        min-height: 0px!important;
    }
    .section-1{
        height:100vh;
    }
    .section-5{
        height:50vh;
    }
}